body{
    background-color: #0F0C0C
}
   
* {
    margin: 0;
    padding: 0;
}

.align-txt {
    text-align: center;
    padding-top: 10em;
}

::selection {
    background: #42ff55;
}

p::selection {
    background: #42ff55;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

    .nav-list li a:hover {
        transition: 80ms;
        width: 120px;
        color: #42ff55;
    }

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    height: 40%;
}

.joinclass {
    background-color: rgb(129, 25, 255);
    height: 450px;
}

.text-big {
    font-family: 'Readex Pro', serif;
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-family: 'Roboto Condensed', serif;
    font-weight: lighter;
    font-size: 15px;
}

.text-mid {
    font-family: 'Readex Pro', serif;
    font-weight: bold;
    font-size: 20px;
}

.firstsection {
    background-color: rgb(129, 25, 255);
    background-repeat: no-repeat;
    height:660px;
}

.secondsection {
    background-color: rgb(129, 25, 255);
    background-repeat: no-repeat;
    height: 1px;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
    padding-left: 170px;
    background-color: lightblue;
}

.text-field{
    padding-left: 2em;
}

.text-field2 {
    padding-left: 4em;
}
.hyper-link {
    color: #9b9b9b
}
    .hyper-link:hover {
        color: #11fa29
    }

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}


.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: 'Roboto Condensed', serif;
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    color: #0F0C0C;
    padding: 7px 0;
    padding-left: 10px;
    background: transparent;
    transition: border-color 0.2s;
}

    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
        font-size: 17px;
        cursor: text;
        top: 20px;
    }

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: bold;
    border-width: 3px;
    border-image: linear-gradient(to right, #8119ff, #5b04c4);
    border-image-slice: 1;
}

    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 17px;
        color: #8119ff;
        font-weight: bold;
    }

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #61ff71;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

    .button:hover {
        background: #61ff71;
        box-shadow: 0 0 30px 5px #a8ffb1;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        .button:hover::before {
            -webkit-animation: sh02 0.5s 0s linear;
            -moz-animation: sh02 0.5s 0s linear;
            animation: sh02 0.5s 0s linear;
        }

    .button::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.button2 {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #fc2323;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

    .button2:hover {
        background: #fc2323;
        box-shadow: 0 0 30px 5px #fc2323;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        .button2:hover::before {
            -webkit-animation: sh02 0.5s 0s linear;
            -moz-animation: sh02 0.5s 0s linear;
            animation: sh02 0.5s 0s linear;
        }

    .button2::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.button2:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.button3 {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #8119ff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #8119ff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

    .button3:hover {
        background: #61ff71;
        color: #F5F5FA;
        border: 1px solid #61ff71;
        box-shadow: 0 0 30px 5px #a8ffb1;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        .button3:hover::before {
            -webkit-animation: sh02 0.5s 0s linear;
            -moz-animation: sh02 0.5s 0s linear;
            animation: sh02 0.5s 0s linear;
        }

    .button3::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.button3:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.title_button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #8119ff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #F5F5FA;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

    .title_button:hover {
        color: #61ff71;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

.title_button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.title_button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.title_button:active {
box-shadow: 0 0 0 0 transparent;
-webkit-transition: box-shadow 0.2s ease-in;
-moz-transition: box-shadow 0.2s ease-in;
transition: box-shadow 0.2s ease-in;
}

.card {
    padding-top: 2em;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 320px;
    border-radius: 30px;
    background: #F5F5FA;
}

.card2 {
    padding-top: 2em;
    align-items: center;
    text-align: center;
    width: 240px;
    height: 455px;
    border-radius: 30px;
    background: #F5F5Fa;
    
}

.align-ev {

    margin-left: 440px;
    margin-right: 500px;
    align-items: center;
    justify-content: center;
}


.card-ani {
    width: 190px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}

    .card-ani::before {
        content: 'Demon Slayer';
        letter-spacing: 0.2em;
        position: absolute;
        bottom: 8px;
        left: 20px;
        color: rgb(51, 51, 51);
        font-size: 0.8em;
        font-weight: 700;
    }

    .card-ani div {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
        cursor: pointer;
        z-index: 10;
        transition: all .4s;
        background-color: #fff;
    }

    .card-ani:hover div {
        transform: translateY(-30px);
    }

    .anime-marg{
        align-content:center;
        justify-items:center;
        margin-left: 10em;
        margin-right: 10em;
    }